<!DOCTYPE html>
<html>
  <head>
    <title>Гонка!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/importer.css">
  </head>
  <body>
    <div id="root"/>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/react.js"></script>
    <script src="/js/dependencies/react-dom.js"></script>
    <script src="/js/dependencies/react-with-addons.js"></script>
    <script src="/js/dependencies/react-with-addons.min.js"></script>
    <script src="/js/dependencies/react.js"></script>
    <script src="/js/dependencies/react.min.js"></script>
    <script src="/js/app-bundle.js"></script>
  </body>
</html>
